@using CShop.Core.Models


@model List<AnimalModel>

@{
    ViewData["Title"] = "Animals";
}
<h2>@ViewData["Title"]</h2>
<h3>This is all of our animals for sale</h3>

<div class="row">
@foreach (var Animal in Model)
{
                <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img class="card-img-top" src="@Animal.img" alt=""></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">@Animal.name</a>
                  </h4>
                  <h5>@Animal.price $</h5>
                <div class="cart-button">
                <a href="/Home/AddToCart/@Animal.id"><button type="button" class="btn btn-info">Add to cart</button></a>
                </div>
                </div>
              </div>
            </div>
}
  </div>  
          